# Documents
*.pdf binary
*.doc binary
*.docx binary
*.xls binary
*.xlsx binary
*.ppt binary
*.pptx binary
*.odt binary
*.ods binary
*.odp binary

# Images
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.bmp binary
*.svg binary

# Archives
*.zip binary
*.rar binary
*.7z binary
*.tar.gz binary
